## Data Analysis with Pandas
## Auther : Haya Balasmeh
## Date : 9th/August/2021
## Data set name : Bicycle Trip Data

#### Questions need to be answered :


## 1- What is the average trip duration for a borrowed bicycle?
Ans: 1178.2956753399776

## 2- What’s the most common age of a bicycle-sharer?
Ans : 33

## 3- Given all the weather data here, find the average precipitation per month, and the median precipitation.
Date
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Median :
Date
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100

## 4- What’s the average number of bikes at a given bike station?
17.586206896551722

## 5- When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
- Sometimes it lose and sometimes it gain as when you compare the install doccount with the current doccount you will find that some has gained when it has modification date and some lose .

## 6- Come up with 3 more questions that can be answered with this data set.

In [20]:
import pandas as pd
import numpy as np

In [21]:
#Reading Data
station = pd.read_csv('./station.csv')
station.head(5)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [34]:
#Reading trip file
trip = pd.read_csv('./trip.csv',error_bad_lines=False)
# trip.head(5)

/home/haya/401-labs/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

## 1- What is the average trip duration for a borrowed bicycle?

In [23]:
average_duration=trip['tripduration'].mean()
average_duration

1178.2956753399776

## 2- What’s the most common age of a bicycle-sharer?

In [24]:
year = trip['birthyear'].mode()
age = 2020-year
age

0    33.0
dtype: float64

In [25]:
#Reading weather file
weather = pd.read_csv('./weather.csv',parse_dates=["Date"])
weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,2016-08-27,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,2016-08-28,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,2016-08-29,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,2016-08-30,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,2016-08-31,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

## 3- Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [26]:
monthly_average = weather.groupby([weather['Date'].dt.month])['Precipitation_In'].mean()
monthly_average

Date
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [27]:
monthly_median = weather.groupby([weather['Date'].dt.month])['Precipitation_In'].median()
monthly_median

Date
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

In [28]:
#Reading station file
station = pd.read_csv('./station.csv')
station.head(5)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

## 4- What’s the average number of bikes at a given bike station?

In [29]:
average_bikes =station['install_dockcount'].mean()
average_bikes

17.586206896551722

## 5- When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
- Sometimes it lose and sometimes it gain as when you compare the install doccount with the current doccount you will find that some has gained when it has modification date and some lose .

# Come up with 3 more questions that can be answered with this data set.
## 1-What was the longest trip duration:

In [30]:
longest_trip = trip['tripduration'].max()
longest_trip

28794.398

## 2-Who is the most common gender of player?

In [31]:
common_gender =trip['gender'].mode()
common_gender

0    Male
dtype: object

## 3- What was the minimum tempretaures of all months?

In [32]:
minimum_temp =weather['Min_TemperatureF'].min()
minimum_temp

23

In [33]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"


    assert_equal(average_duration.item(),1178.2956753399776)
    assert_equal(age.item(),33.0)
    assert_equal(average_bikes.item(),17.586206896551722)
  
    assert_equal(longest_trip.item(),28794.398)
    assert_equal(common_gender.item(),'Male')
    assert_equal(minimum_temp.item(),23)
   
    
   
   

    print("Success!!!")

test()

Success!!!